{% extends "base.html" %}

<h1>SECTION</h1>

{% block header %}
<h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
{{ section.content | safe }}
{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}
<ul class="post-list">
{% for page in pages %}
    <li>
        <span>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            <time datetime="{{page.date}}">
                {{page.date | date(format="%b %e %Y")}}
            </time>
        </span>
        {%if page.description%}
        <p class="post-description">{{ page.description | truncate(length=150)}}</p>
        {%endif%}
    </li>
{% endfor %}
</ul>
{% if paginator %}
<p>{% if paginator.previous %}<a href="{{ paginator.first }}">&lt;&lt; First</a> <a href="{{ paginator.previous }}">&lt; Previous</a>{% endif %} [{{ paginator.current_index }}/{{ paginator.number_pagers }}] {% if paginator.next %}<a href="{{ paginator.next }}">Next &gt;</a> <a href="{{ paginator.last }}">Last &gt;&gt;</a>{% endif %}</p>
{% endif %}
{% endblock content %}
