:root {
    --bg: #282828;
    --bg0_h: #1d2021;
    --fg: #ebdbb2;
    --fg1: #fbf1c7;
    --blue: #458588;
    --bblue: #83a598;
}

#avatar {
    height: 15em;
}

#portfolio-items img {
    height: 20em;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: monospace;
}

nav {
    height: 50px;
    background-color: var(--bg0_h);
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0 3px 5px black;
}

.nav-button {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--fg1);
    transition: .1s;
    padding: 0 20px;
}

#icon {
    max-width: 35px;
    margin: 0 10px;
}

.nav-button:hover {
    color: var(--bblue);
    transform: scale(1.1);
    transition: .15s;
}